<%= form_for(@picture, html: { :multipart => true, role:"form" }) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>
      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="form-group">
    <%= f.text_field :title, class:"form-control", placeholder: "Write a caption..." %>
  </div>
  <hr>
  <div class="form-group">
    <%= f.text_field :description,class:"form-control", placeholder:"describe your photo"  %>
   </div> 
  <hr>
  <div class="form-group">
    <%= f.text_field :submitted_by ,class:"form-control", placeholder:"who are you?"  %>
   </div> 
   <hr>
   <div class="form-group">
    <%= f.text_field :url,class:"form-control", placeholder:"http://..."  %>
   </div> 
  <hr>
  <h4>or upload from your library...</h4> 
  <br>
  <div class="form-group">
  <%= f.file_field :avatar %>
  </div>
   <hr>
  <div id="uploadbtn" class="actions">
    <%= f.submit class:"btn btn-default" %>
  </div>
   <hr>
</form>
<% end %>
