<%= stylesheet_link_tag "bootstrap.min" %>
<%= stylesheet_link_tag "stylesheet" %>
<h1>Explore</h1>

<table>
  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= link_to (image_tag picture.picture_show(:thumb), size:"260x180"), picture %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>



<%= javascript_include_tag "salvattore" %>
