
<p id="notice"><%= notice %></p>
<p id="title">
  <%= @picture.title %>
</p>
<hr>
<p>
  <strong>Description:</strong>
  <%= @picture.description %>
</p>
<p>
  <strong>Submitted By:</strong>
  <%= @picture.submitted_by %>
</p>
<hr>
<p id="img_effect">
<%= image_tag @picture.picture_show(:medium)%>
</p>

<p>
<br>
<div class="likegroup">
Added:<strong><%= time_ago_in_words(@picture.created_at) %> </strong> ago
<div class="spacing">
<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Delete', @picture, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= button_to("#{@picture.likes.to_s} Likes", { action: "like"}, class: "btn btn-primary" ) %>
</div>
</div>
<hr>
<h3>Comments</h3>
<% @picture.comments.each do |comment| %>
	<p id="comments">
		<hr>
		<br>
		• <%= comment.entry %>
		<br>
		  <%= time_ago_in_words(comment.created_at) %> ago
		<br>
		  By: <strong><%= comment.author %></strong>
		<br>
	</p>
<% end %>
<hr>
<h4>Leave a comment:</h4>




<%= render 'comments/form' %>

