
<p id="notice"><%= notice %></p>
<p>
  <%= @picture.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @picture.description %>
</p>
<p>
  <strong>Submitted By:</strong>
  <%= @picture.submitted_by %>
</p>
<p id="img_effect">
<%= image_tag @picture.picture_show(:medium)%>
</p>

<p>
<br>
Added: <%= time_ago_in_words(@picture.created_at) %> ago
<br>
<div >
<p id="trashedit">
<%= link_to 'Edit', edit_picture_path(@picture) %>
<%= link_to 'Delete', @picture, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<p>

</p>
<h3>Likes</h3>
<%= @picture.likes %>
<%= button_to "Like", action: "like" %>

<h3>Comments</h3>

<% @picture.comments.each do |comment| %>
	<p>
		Comment:<%= comment.entry %>
		<br>
		Added: <%= time_ago_in_words(comment.created_at) %> ago
		<br>
		By: <%= comment.author %>
	</p>
<% end %>

<h3>New Comment</h3>




<%= render 'comments/form' %>

