<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
<%= image_tag @picture.picture_show(:medium) %>
</p>

<h3>Comments</h3>

<% @picture.comments.each do |comment| %>
	<p>
		<%= comment.comment %>
		<br>
		Added on: <%= comment.created_at %>
	</p>
<% end %>

<h3>New Comment</h3>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
